<section class="p-info">
  <div class="p-info__inner">
    <h2 class="p-info__heading01">お知らせ</h2>

    <ul class="p-info__list">
      <li class="p-info__item">
        <div class="p-info__date">2024.00.00</div>
        <a href="https://www.shinshu-u.ac.jp/institution/suirlo/smd_ikusei/info/2023/07/177171.php" class="p-info__link">
          <span class="p-info__title">このテキストはダミーです。</span>
        </a>
      </li>

      <li class="p-info__item">
        <div class="p-info__date">2024.00.00</div>
        <a href="" class="p-info__link">
          <span class="p-info__title">このテキストはダミーです。</span>
        </a>
      </li>

      <li class="p-info__item">
        <div class="p-info__date">2024.00.00</div>
        <a href="https://www.shinshu-u.ac.jp/institution/suirlo/smd_ikusei/info/2023/04/173766.php" class="p-info__link">
          <span class="p-info__title">このテキストはダミーです。</span>
        </a>
      </li>
    </ul><!-- /.p-info__list -->

    <div class="p-info__button">
      <a href="" class="c-button-primary">お知らせ一覧</a>
    </div><!-- /.p-info__button -->

    <div class="p-info__button">
      <a href="" class="c-button-primary c-button-primary--bg02">配布物一覧</a>
    </div><!-- /.p-info__button -->
  </div><!-- /.p-info__inner -->
</section>